/* Feature button container */
.feature-buttons {
    margin-left: 150px;
}
.feature-button {
    display: inline-block;
    padding: 30px 50px;
    background-color: #aaa;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 150px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.feature-button:hover {
    background-color: #777;
}

