/* Feature button container */
.feature-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.feature-button {
    margin-left: 10px;
    display: inline-block;
    padding: 30px 50px;
    background-color: #1C1A2E;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

.feature-button:hover {
    background-color: #1ea1f2;
    transition: background-color 0.3s ease;
}

