/* Feature button container */
.feature-buttons {
    display: flex;
    gap: 25px;
}

/* Individual feature button */
.feature-button {
    margin-left: 35px;
    background: #a0a0a0;
    height: 75px;
    width: 200px;
    color: white;
    font-size: 20px;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
