body{
    font-family: Arial, sans-serif;
    background-image: url("../img/Freljord.webp");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

.login-box{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60%;
    width: 100%;
}
.login-boxbox{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60%;
    width: 100%;
}

.center-box {
    color: lightgray;
    align-content: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #1e1e33;
    width: 500px;
}

.login-container {
    display: flex;
    flex-direction: column;

}
.input-fields{
    margin-top: 30px;
}
.input-text{
    color: lightgray;
    display: block;
    margin-top: 20px;
}


label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}
.switch-text{
    margin-top: 20px;
}


input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.2s;
    background-color: #f9f9f9;

}

input:focus, select:focus {
    border-color: #0056ff;
    outline: none;
    background-color: #fff;
}

.summoner-box {
    display: flex;
    gap: 10px;
}


.create-button {
    width: 100%;
    padding: 12px;
    background-color: #0056ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #0040cc;
}

.login-error {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}


